better-profanity==0.7.0
blinker==1.8.2
click==8.1.8
deprecated==1.3.1
flask==3.0.3
Flask-Limiter==3.8.0
Flask-Login==0.6.3
flask-sqlalchemy==3.1.1
flask-wtf==1.2.1
greenlet==3.1.1
gunicorn==23.0.0
importlib-metadata==8.5.0
importlib-resources==6.4.5
itsdangerous==2.2.0
jinja2==3.1.6
limits==3.13.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
ordered-set==4.1.0
packaging==24.2
pygments==2.19.2
python-dotenv==1.0.1
rich==13.9.4
sqlalchemy==2.0.51
typing-extensions==4.13.2
werkzeug==3.0.6
wrapt==2.0.1
wtforms==3.1.2
zipp==3.20.2
psycopg2-binary==2.9.9
